# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = odd_spider.settings

[deploy]
#rl = http://localhost:6800/
project = preciosderemedios_com_ar
version = 1.0.0